.wrapper {
   padding: 50px 0;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.title {
   font-size: 30px;
   color: #303030;
   font-weight: 600;
   text-align: center;
   line-height: 135%;
   margin-bottom: 20px;
}

.image {
   width: 120px;
   margin-bottom: 5px;
   img {
      max-width: 100%;
   }
}

.link {
   a {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 30px;
      padding: 0px 20px;
      font-size: 18px;
      font-weight: 500;
      color: #303030;
      border-radius: 10px;
      box-shadow: 1px 4px 8px 2px rgba(173, 102, 213, 0.72);
      position: relative;
      top: 0;
      &:active {
         top: 2px;
         box-shadow: 1px 1px 8px 2px rgba(173, 102, 213, 0.72);
      }
   }
}
