.Footer {
   background-color: #ad66d5;
   grid-area: f;
   display: flex;
   align-items: center;
   justify-content: center;
   z-index: 3;
   .Footer__copy {
      font-size: 20px;
      color: #fff;
      text-align: center;
   }
}
