.container {
   background-color: #ad66d5;
   border-radius: 10px;
   box-shadow: 1px 1px 12px 0px rgba(34, 60, 80, 0.2);
   width: 50%;
   padding: 15px;
   position: relative;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.title {
   color: #fff;
   font-weight: 500;
   font-size: 40px;
   text-align: center;
   margin-bottom: 30px;
}

.form {
   div {
      margin-bottom: 20px;
      width: 100%;
   }
   .input {
      width: 100%;
      height: 40px;
      margin: 0 auto;
      border-radius: 10px;
      padding-left: 8px;
      font-size: 20px;
      color: #303030;
   }
}

.flex {
   display: flex;
   align-items: center;
   .checkbox {
      height: 20px;
      width: 20px;
   }
   span {
      padding-left: 8px;
      font-size: 20px;
      color: #fff;
   }
}
.buttonWrapper {
   display: flex;
   justify-content: flex-end;
}
.button {
   height: 40px;
   display: flex;
   align-items: center;
   border-radius: 10px;
   padding: 0px 40px;
   font-size: 22px;
   font-weight: 500;
   color: #ad66d5;
   background-color: #fff;
   position: relative;
   top: 0;
   &:active {
      top: 1px;
   }
}

.formSummeryError {
   font-size: 20px;
   color: #fff;
   position: relative;
   margin-bottom: 10px;
   &::after {
      position: absolute;
      bottom: -2px;
      left: 0;
      content: "";
      background-color: red;
      height: 2px;
      width: 100%;
   }
}

.captcha {
   border-radius: 10px;
   width: 100%;
   height: 60px;
   margin: 10px 0px;
}
