.container {
   background-color: #fff;
   border-radius: 10px;
   box-shadow: 0px 4px 8px 2px rgba(173, 102, 213, 0.62);
   width: 50%;
   padding: 15px;
   position: relative;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   color: #303030;
}

.title {
   font-weight: 500;
   font-size: 35px;
   text-align: center;
   margin-bottom: 30px;
}

.form {
   div {
      margin-bottom: 20px;
      width: 100%;
   }
   .input {
      width: 100%;
      height: 40px;
      margin: 0 auto;
      border-radius: 10px;
      padding-left: 8px;
      color: #303030;
      font-size: 16px;
      color: #303030;
      box-shadow: 0px 4px 8px 2px rgba(173, 102, 213, 0.42);
      &.error {
         &::-webkit-input-placeholder {
            color: red;
         }
         &::-moz-placeholder {
            color: red;
         }
         box-shadow: 0px 4px 8px 2px rgba(214, 33, 33, 0.42);
         border: 1px solid red;
      }
   }
}

.flex {
   display: flex;
   align-items: center;
   .checkbox {
      height: 20px;
      width: 20px;
      box-shadow: 0px 4px 8px 2px rgba(173, 102, 213, 0.42);
   }
   span {
      padding-left: 8px;
      font-size: 16px;
      color: #303030;
   }
}
.buttonWrapper {
   display: flex;
   justify-content: flex-end;
}
.button {
   display: flex;
   font-size: 18px;
   background-color: rgba(173, 102, 213, 1);
   color: #fff;
   box-shadow: 0px 4px 8px 2px rgba(173, 102, 213, 0.42);
   height: 40px;
   align-items: center;
   padding: 0px 20px;
   border-radius: 10px;
   position: relative;
   top: 0;
   &:active {
      top: 2px;
      box-shadow: 0px 1px 8px 2px rgba(173, 102, 213, 0.42);
   }
}

.formSummeryError {
   font-size: 18px;
   color: red;
   position: relative;
   display: inline-block;
   margin: 5px 0px 10px 0;
   &::after {
      position: absolute;
      bottom: -3px;
      left: 0;
      content: "";
      background-color: red;
      height: 1px;
      width: 100%;
   }
}

.captcha {
   border-radius: 10px;
   width: 100%;
   height: 60px;
   margin: 10px 0px;
}
