.wrapper {
   width: 100%;
}
.messageForm {
   display: flex;
   margin-top: 80px;
   box-shadow: 0px 4px 8px 2px rgba(173, 102, 213, 0.42);
   border-radius: 10px;
   margin-bottom: 10px;
   width: 100%;
}
.messageArea {
   flex: 1 1 auto;
   resize: none;
   background-color: #f0f0f0;
   font-size: 18px;
   padding: 10px;
   display: block;
   height: 100px;
   border-radius: 10px 0px 0px 10px;
}
.messageSend {
   text-align: center;
   text-transform: uppercase;
   font-size: 18px;
   text-transform: uppercase;
   background-color: #ad66d5;
   color: #fff;
   font-weight: 500;
   padding: 10px 30px;
   height: 100px;
   border-radius: 0 10px 10px 0;
   box-shadow: 0px 4px 8px 2px rgba(173, 102, 213, 0.42);
}

.error {
   box-shadow: 0px 4px 8px 2px rgba(214, 33, 33, 0.42);
   border: 1px solid red;
   ::-webkit-input-placeholder {
      /* WebKit browsers */
      color: red;
   }
   ::-moz-placeholder {
      /* Mozilla Firefox 19+ */
      color: red;
   }
}
